.container {
    background: linear-gradient(
        to bottom,
        #303438 0%, 
        #303438 50%, 
        #EFEFEF 50%, 
        #EFEFEF 100%
    ) ;
}

.top-section {
    color: #EFEFEF;
}

.top-img {
    display: none;
}

.title {
    font-style: italic;
}

.top-link-sec {
    display: flex;
    gap: 10px;
}

.top-btn {
    border: none;
    background-color: #6EA4BF;
    color: #EFEFEF;
    padding: 10px 26px;
    font-size: 16px;
    cursor: pointer;
}

.top-link {
    margin: auto;
    text-decoration: none;
    color: #6EA4BF;
}

.golden-text {
    color: gold;
}

.mid-img {
    display: none;
}

.mid-link {
    text-decoration: none;
    color: #6EA4BF;
}

/* Tablet/Desktop Sizing */
@media screen and (min-width: 1024px) {
    .top-section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        height: 90vh;
    }

    .top-left {
        grid-column: 1/2;
        grid-row: 1/2;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin: 0 auto;
        gap: 10px;
    }

    .destination-list {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 10px;
    }

    .top-right {
        grid-column: 2/3;
        grid-row: 1/2;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .title, .top-desc-one, .top-desc-two, .top-link, .destination-section, .destination-list {
        font-size: 17px;
    }

    .top-btn {
        font-size: 17px;
    }

    .top-btn:hover {
        transition: 0.20s;
        background-color: gold;
        color: #303438;
    }

    .top-link:hover {
        transition: 0.20s;
        color: gold;
    }

    .top-statement-one, .top-statement-two {
        font-size: 65px;
        font-weight: 500;
    }

    .top-desc-one {
        padding-top: 10px;
    }

    .top-desc-two {
        padding-bottom: 10px;
    }

    .top-link-sec {
        padding: 10px 0;
    }

    .destination-list {
        padding-top: 10px 0;
    }

    .destination-list div {
        padding: 10px 0;
    }

    .numbers {
        font-size: 32px;
    }

    .top-img {
        display: block;
        height: 650px;
        width: 412.5px;
        border: 5px solid #EFEFEF;
    }

    .mid-section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        height: 90vh;
    }

    .mid-left {
        grid-column: 1/2;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .mid-right {
        grid-column: 2/3;
        grid-row: 1/2;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin: 0 auto;
        gap: 10px;
    }

    .mid-statement {
        font-size: 45px;
    }

    .mid-coffee-section {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        gap: 15px;
        font-size: 30px;
    }

    .mid-link {
        padding-top: 15px;
        font-size: 16px;
    }

    .mid-link:hover {
        color: #BA2C00;
    }

    .mid-img {
        display: block;
        height: 650px;
        width: 412.5px;
        border: 5px solid black;
    }
}