section {
    background-color:#303438;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

.logo a {
    text-decoration: none;
    color: #EFEFEF;
}

nav.navigation {
    display: none;
}

nav.navigation a:hover, .logo a:hover {
    color: #BF723F;
    transition: 0.20s;
}

nav.navigation.active {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #EFEFEF;
}

nav.navigation.active a {
    padding: 20px;
    color: #202131;
    font-weight: 500;
    text-decoration: none;
}

img.close {
    display: none;
}

img.show {
    display: block;
    position: absolute;
    top: 30px;
}

@media screen and (min-width: 1024px) {
    .logo a {
        font-size: 1.05rem;
        margin-left: 55px;
    }
    nav.navigation {
        width: 50%;
        display: flex;
        justify-content: flex-end;
        margin-right: 7.5px;
    }
    nav.navigation a {
        font-size: 1.05rem;
        padding: 0 47.5px;
        color: #EFEFEF;
        text-decoration: none;
    }
    div.toggleBox {
        display: none;
    }
}