section {
    background-color: pink;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    text-decoration: none;
    color: black;
}

nav.navigation {
    display: none;
}

nav.navigation.active {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: pink;
}

nav.navigation.active a {
    padding: 20px;
    color: black;
    font-weight: 500;
    text-decoration: none;
}

img.close {
    display: none;
}

img.show {
    display: block;
    position: absolute;
    top: 20px;
}

@media screen and (min-width: 991px) {
    nav.navigation {
        display: flex;
    }
    nav.navigation a {
        font-size: 16px;
        padding: 10px;
        color: black;
        text-decoration: none;
    }
    div.toggleBox {
        display: none;
    }
}