@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Playfair Display', serif;
}

/* Color Palette
Dark Purple: #331E36
Dark Slate Blue: #41337A
Air Superiority Blue: #6EA4BF
Powder Blue: #C2EFEB
Honeydew: #ECFEE8 */